#################
#               #
# ENV VARIABLES #
#               #
#################

# RSS_FEED=your target rss feed
# BOT_API_TOKEN=your bot token
# CHANNEL_ID=your channel/chat ID
# REQUEST_INTERVAL=interval you want to request rss feed in ms